# Normalizar finales de línea
* text=auto

# Scripts que se ejecutan en contenedores Linux: SIEMPRE LF
*.sh text eol=lf
*.sql text eol=lf

# Binarios
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.woff binary
*.woff2 binary
